.news-common {
    padding-bottom: 25px;

    &__title {
        font-size: 35px;
        font-family: $font-heavy;
        margin-bottom: 35px;
        color: #535353;

        @include respond (max-1600) {
            font-size: 25px;
        }
    }

    &__content {
        .row {
            >div {
                margin-bottom: 30px;

                .item-common {
                    .info {
                        .sub-title {
                            // margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &.news-first {
        border-bottom: 1px solid #eee;
        margin-bottom: 50px;
    }
}