.news-detail-child {
    padding: 20px 130px 50px;

    &__title {
        position: relative;
        margin-bottom: 25px;

        .tag {
            top: -15px;
            left: -130px;
        }

        .title {
            font-size: 34px;
            font-family: $font-heavy;
            margin-bottom: 10px;
            color: #535353;
            line-height: 1.25;
        }

        .sub-title {
            color: #666;
        }
    }

    &__content {
        p {
            font-family: $font-regular;
            margin-bottom: 20px;
            line-height: 2;
            color: #333;
            text-align: justify;
        }

        img {
            margin-bottom: 20px;
            display: block;
            object-fit: scale-down;
            width: 100%;
        }
    }
}