.home-banner {
    position: relative;

    .image {}

    .overlay {
        position: absolute;
        content: '';
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

        .title {
            .text {
                color: #fff;
                font-family: $font-svn-bell;
                font-size: 300px;
                margin-bottom: -25px;

                white-space: nowrap;
                overflow: hidden;
                width: 100%;
                -webkit-animation: type 2s steps(40, end);
                animation: type 2s steps(40, end);
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
            }

            @keyframes type {
                0% {
                    width: 0;
                }

                100% {
                    border: none;
                }
            }

            @-webkit-keyframes type {
                0% {
                    width: 0;
                }

                100% {
                    border: none;
                }
            }

            .sub-title {
                p {
                    color: #fff;
                    font-family: $font-heavy;
                    font-size: 70px;
                    text-align: right;
                    line-height: 1;

                    -moz-animation: 2s slide-right;
                    -webkit-animation: 2s slide-right;
                    -o-animation: 2s slide-right;
                    animation: 2s slide-right;
                }

                @-webkit-keyframes slide-right {
                    from {
                        margin-left: 100%;
                        width: 100%;
                    }

                    to {
                        margin-left: 0%;
                        width: 100%;
                    }
                }

                @-moz-keyframes slide-right {
                    from {
                        margin-left: 100%;
                        width: 100%;
                    }

                    to {
                        margin-left: 0%;
                        width: 100%;
                    }
                }

                @-o-keyframes slide-right {
                    from {
                        margin-left: 100%;
                        width: 100%;
                    }

                    to {
                        margin-left: 0%;
                        width: 100%;
                    }
                }

                @keyframes slide-right {
                    from {
                        margin-left: 100%;
                        width: 100%;
                    }

                    to {
                        margin-left: 0%;
                        width: 100%;
                    }
                }
            }
        }
    }
}


@keyframes new {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(.95);
    }

    100% {
        transform: scaleX(1);
    }
}