.home-teacher {
    padding: 0 75px;
    background-image: url(img/home-page/home-teacher-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // padding-top: 65px;

    .section-content {
        margin-top: 90px;
    }

    .content-left {
        padding-right: 100px;

        .sec-header {
            .heading {
                color: #fff;
            }

            .sub-heading {
                color: #cccccc38;
            }
        }

        .sec-body {
            p {
                font-family: $font-regular;
                line-height: 1.5;
                color: #fff;
                margin-bottom: 20px;
                text-align: justify;
                font-size: 18px;
            }
        }
    }

    .content-right {
        padding-right: 75px;

        .item {
            .item-teacher {
                background-color: #fff;
                border-radius: 5px;
                margin-bottom: 30px;

                &__thumb {
                    .image {
                        img {
                            border-radius: 5px 5px 0 0;
                        }
                    }
                }

                &__info {
                    padding: 25px 30px 50px 30px;

                    &__title {
                        font-size: 24px;
                        font-family: $font-semibold;

                        @include respond (max-1600) {
                            font-size: 20px;
                        }
                    }

                    &__subtitle {
                        font-size: 20px;

                        @include respond (max-1600) {
                            font-size: 16px;
                        }
                    }

                    @include respond (max-1600) {
                        padding: 20px 25px 35px 25px;
                    }
                }
            }
        }


        .owl-carousel {
            position: relative;

            .owl-nav {
                display: block !important;

                button {
                    position: absolute;
                    top: 46.46%;
                    transform: translateY(-50%);


                    &.owl-prev {
                        left: -70px;
                    }

                    &.owl-next {
                        right: -70px;
                    }

                    span {
                        font-size: 70px;
                        color: #fff;
                    }
                }
            }
        }

        .owl-theme .owl-nav [class*=owl-]:hover {
            background: transparent;
        }
    }
}