.home-course {
    background-image: url("img/home-page/home-course-bg.png");
    // height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 75px;

    .section-content {
        // padding-left: 75px;
        // padding-right: 75px;
    }

    .sec-header {
        margin-top: 50px;
    }

    .sec-body {
        margin-bottom: 30px;
    }

    .sec-footer {
        text-align: center;
    }
}