.home-news {
    padding: 0 75px;
    background-image: url("img/home-page/home-news-bg.png");
    // height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .sec-body {
        margin-bottom: 30px;
    }

    .sec-footer {
        text-align: center;
    }
}