.sec-body-event-detail {
    padding: 100px 0;

    .sec-header {
        height: 110px;

        .heading,
        .sub-heading {
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 0;
            width: 100%;
            text-align: center;
        }
    }

    .desc {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        color: #333;
        margin-bottom: 50px;
    }

    .box-filter {
        margin-bottom: 50px;

        .form-inline {
            justify-content: space-between;
            align-items: center;

            .filter-child {
                label {
                    display: inline-block;
                    color: #666;
                    margin: 0 10px 0 0;
                }

                select {
                    display: inline-block;
                    font-weight: 600;
                    margin: 0;
                    min-width: 225px;
                }
            }

            .box-button {}
        }
    }

    .list-event {
        margin-bottom: 50px;

        .event-item {
            display: flex;
            justify-content: space-between;
            padding: 50px 0;
            border-top: 1px solid #ccc;

            .item-left {
                .item-left-content {
                    display: flex;
                    // float: left;
                    position: relative;
                    padding-left: 155px;

                    .info-time {
                        // display: inline-block;
                        // margin-right: 30px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    // .item-child {
                    // display: inline-block;

                    // .item-child-content {
                    // display: flex;

                    .thumb {
                        display: inline-block;

                        .image {
                            width: 300px;
                            display: inline-block;

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }

                    .info {
                        display: inline-block;
                        width: calc(100% - 250px);
                        margin-left: 30px;
                        // float: right;

                        .title {
                            margin-bottom: 30px;
                            padding-bottom: 15px;
                            position: relative;

                            a {
                                color: #333;
                                font-size: 45px;
                                font-family: $font-heavy;
                                line-height: 1;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                            }

                            &:before {
                                position: absolute;
                                content: '';
                                left: 0;
                                bottom: 0;
                                width: 50px;
                                height: 5px;
                                background-color: $color-hover;
                            }
                        }

                        .location {
                            color: #666;

                            svg {
                                margin-right: 10px;
                            }
                        }
                    }

                    // }
                    // }

                }
            }

            .item-right {
                .btn {
                    min-width: 120px;
                }
            }
        }
    }
}