.sec-head-event-catalog {
    background-image: url("img/inner-page/event-catalog.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #ccc;

    .sec-head-event {
        position: relative;
        width: 50%;

        .info {
            position: absolute;
            top: 50px;
            left: 0;

            .sec-header {
                height: 175px;
            }

            .desc {
                margin-bottom: 20px;
                color: #333;
            }

            .box-button {
                .btn {
                    padding: 6px 60px;
                    font-size: 20px;
                    font-family: $font-semibold;
                }
            }
        }

        .info-time {
            position: absolute;
            top: 50px;
            right: calc(100% + 30px);
        }
    }
}