.sec-head-event-detail {
    background-image: url("img/inner-page/event-detail-bg.jpg");
    height: calc(100vh - 84px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0000007d;
        z-index: 1;
    }

    &__info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: #fff;
        text-align: center;

        .box-countdown {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 35px;

            li {
                text-align: center;
                margin: 0 15px;
                width: 100px;
                border-radius: 5px;

                .number {
                    font-size: 45px;
                    font-family: $font-heavy;
                    padding: 15px;
                    background-color: #000000b5;
                    border-radius: 5px 5px 0 0;
                    line-height: 1;
                }

                .text {
                    background-color: $color-hover;
                    padding: 5px;
                    border-radius: 0 0 5px 5px;
                }
            }
        }

        .heading {
            font-size: 65px;
            font-family: $font-heavy;
            line-height: 1;
            margin-bottom: 35px;
        }

        .sub-heading {
            font-size: 40px;
            font-weight: 600;
            line-height: 1;
            margin-bottom: 35px;
        }

        .box-button {
            .btn {
                font-size: 24px;
                padding: 10px 60px;
                text-transform: uppercase;
                font-family: $font-semibold;
            }
        }
    }

}