.sec-body-event-catalog {
    padding: 100px 0;

    .content-child {
        margin-bottom: 35px;

        p {
            font-family: $font-regular;
            line-height: 2;
            text-align: justify;
            margin-bottom: 20px;
            color: #555;
        }
    }

    .info-location {
        padding: 25px 15px 15px 15px;
        background-color: #fff;
        box-shadow: 0 0 10px #ccc;

        .list-item {
            margin-bottom: 20px;

            .item-child {
                color: #666;

                svg {
                    width: 16px;
                    margin-right: 15px;
                }

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }

        .box-map {
            iframe {
                width: 100%;
                height: 320px;
            }
        }
    }
}