$color1 : #111;
$color16: #161616;
$color-hover: #cc2229;
$color-border: #e8e8e8;
$color-gray: gray;

$font-regular : 'sfd-regular';
$font-semibold : 'sfd-semibold';
$font-heavy : 'sfd-heavy';
$font-roboto-regular : 'roboto-regular';
$font-roboto-bold : 'roboto-bold';
$font-svn-bell : 'svn-bell';
$font-tabular : 'tabular';
$font-utm-cones : 'utm-cones';