@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
@font-face {
  font-family: 'roboto-regular';
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-bold';
  src: url("fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfd-regular';
  src: url("fonts/SanFranciscoDisplay-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfd-semibold';
  src: url("fonts/SanFranciscoDisplay-Semibold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfd-heavy';
  src: url("fonts/SanFranciscoDisplay-Heavy.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'svn-bell';
  src: url("fonts/SVN-Bellwethers.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tabular';
  src: url("fonts/TABULAR-MEDIUM.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'utm-cones';
  src: url("fonts/UTM Conestoga.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fas';
  src: url("fonts/fontawesome-5.11.2/webfonts/fa-brands-400.ttf") format("truetype");
  src: url("fonts/fontawesome-5.11.2/webfonts/fa-regular-400.ttf") format("truetype");
  src: url("fonts/fontawesome-5.11.2/webfonts/fa-solid-900.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

html,
body {
  min-height: 100%;
}

body {
  color: #161616;
}

* {
  font-family: "sfd-regular";
  font-size: 16px;
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.row:before,
.row:after {
  -webkit-display: none !important;
  -moz-display: none !important;
  -o-display: none !important;
  -ms-display: none !important;
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-weight: 600;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: 600;
}

a {
  color: #000;
  text-decoration: none !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
.btn,
span {
  outline: none !important;
}

.img-cover {
  display: block;
  width: 100%;
  height: 100%;
}

.img-cover img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-scaledown {
  display: block;
  width: 100%;
  height: 100%;
}

.img-scaledown img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.img-fill {
  display: block;
  width: 100%;
  height: 100%;
}

.img-fill img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.img-contain {
  display: block;
  width: 100%;
  height: 100%;
}

.img-contain img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-none {
  display: block;
  width: 100%;
  height: 100%;
}

.img-none img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
}

/* ----------------------- Hiệu ứng hover ảnh ----------------------- */
.img-flash,
.img-shine {
  position: relative;
  overflow: hidden;
}

.img-circle:before,
.img-shine:before {
  content: '';
  display: block;
}

.img-circle,
.img-flash,
.img-shine,
.img-slide,
.img-zoomin,
.img-zoomout {
  overflow: hidden;
}

.img-flash:hover > * {
  opacity: 1;
  -webkit-animation: imgFlash 1.5s;
  animation: imgFlash 1.5s;
}

@-webkit-keyframes imgFlash {
  0% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes imgFlash {
  0% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}

.img-shine:before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 100;
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.img-shine:hover:before {
  -webkit-animation: imgShine .75s ease-in-out;
  animation: imgShine .75s ease-in-out;
}

@-webkit-keyframes imgShine {
  100% {
    left: 125%;
  }
}

@keyframes imgShine {
  100% {
    left: 125%;
  }
}

.img-circle {
  position: relative;
}

.img-circle:before {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  z-index: 10;
  opacity: 0;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img-slide,
.img-slide > *,
.img-zoomin,
.img-zoomin > *,
.img-zoomout,
.img-zoomout > *,
[class*=img-caption] {
  position: relative;
}

.img-circle:hover:before {
  -webkit-animation: circle .75s infinite;
  animation: circle .75s infinite;
}

@-webkit-keyframes circle {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes circle {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.img-zoomin > * {
  -webkit-transition: transform .4s ease-in-out;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.img-zoomin:hover > * {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.img-slide > * {
  left: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.img-slide:hover > * {
  left: -10px;
}

.img-zoomout > * {
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.img-zoomout:hover > * {
  -webkit-transform: scale(1);
  transform: scale(1);
}

[class*=img-caption] {
  display: block;
  overflow: hidden;
}

[class*=img-caption] .image {
  display: block;
  position: relative;
  font-size: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

[class*=img-caption] > .info {
  display: block;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  background: white;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.img-caption-bottom > .info {
  visibility: hidden;
  opacity: 0;
  top: initial;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.img-caption-bottom:hover > .info {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.img-caption-bottom:hover > .image {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}

.img-caption-top > .info {
  opacity: 0;
  top: 0;
  bottom: initial;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.img-caption-top:hover > .info {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.img-caption-top:hover > .image {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

[class*=img-push] {
  display: block;
  overflow: hidden;
  position: relative;
}

[class*=img-push] .image {
  display: block;
  position: relative;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

[class*=img-push] .info {
  display: block;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.img-push-up .info {
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

.img-push-down .info,
.img-push-up:hover .image {
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.img-push-down:hover .image {
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

.img-push-left .info {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

.img-push-left:hover .image,
.img-push-right .info {
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

.img-push-right:hover .image {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

[class*=img-push]:hover .info {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

@-webkit-keyframes hotline-shake {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

@keyframes hotline-shake {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
            transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
            transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
            transform: rotate(0) scale(1) skew(1deg);
  }
}

@-webkit-keyframes btn-blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes btn-blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

/* ----------------------- End Hiệu ứng hover ảnh ----------------------- */
*:hover {
  -webkit-transition: all .25s;
  transition: all .25s;
}

.active-pc {
  display: block;
}

@media (max-width: 414px) {
  .active-pc {
    display: none;
  }
}

.active-mb {
  display: none;
}

@media (max-width: 414px) {
  .active-mb {
    display: block;
  }
}

.dp-block {
  display: block;
}

.db-none {
  display: none;
}

.row.row-mg-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.row.row-mg-0 .col-pd-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.row.row-mg-75 {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.row.row-mg-75 .col-pd-75 {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.row.row-mg-10 {
  margin-left: -10px;
  margin-right: -10px;
}

.row.row-mg-10 .col-pd-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.pl0 {
  padding-left: 0;
}

.pr0 {
  padding-right: 0;
}

.mb0 {
  margin-bottom: 0px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb100 {
  margin-bottom: 100px;
}

.pt50 {
  padding-top: 50px;
}

.text-red {
  color: #cc2229;
}

.text-bold {
  font-weight: 600;
}

#to_top {
  display: none;
  border: medium none;
  bottom: 20px;
  cursor: pointer;
  text-align: center;
  height: 30px;
  line-height: 32px;
  outline: medium none;
  padding: 0;
  position: fixed;
  right: 20px;
  width: 30px;
  z-index: 89;
  background: #cc2229;
}

#to_top span {
  color: #fff;
}

.inner-page {
  padding-top: 84px;
}

.inner-page .footer {
  padding-top: 75px;
}

.inner-page .footer .section-content {
  margin-top: 0px;
}

.section {
  padding-top: 84px;
}

.box-readmore {
  display: inline-block;
}

.box-readmore .btn {
  text-transform: uppercase;
  font-size: 24px;
  font-family: "sfd-semibold";
  color: #535353;
  position: relative;
}

.box-readmore .btn svg {
  position: absolute;
  top: 11px;
  left: 100%;
  color: #cc2229;
  opacity: 0;
}

.box-readmore .btn:hover {
  color: #cc2229;
}

.box-readmore .btn:hover svg {
  opacity: 1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media (max-width: 1600px) {
  .box-readmore .btn {
    font-size: 20px;
  }
}

.box-search {
  margin-bottom: 30px;
}

.box-search .form-group {
  margin-bottom: 0;
  position: relative;
}

.box-search .form-group .icon {
  position: absolute;
  top: 0;
  left: 15px;
  height: 100%;
  width: 38px;
  background-color: #cc2229;
  border-radius: 0.25rem 0 0 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.box-search .form-group .icon svg {
  color: #fff;
}

.box-search .form-group .form-control {
  padding: 6px 12px 6px 50px;
}

.box-button .btn.btn-hover {
  display: inline-block;
  background-color: #cc2229;
  color: #fff;
  font-weight: 500;
}

.box-button .btn.btn-hover:hover {
  background-color: #ff645f;
}

.tag {
  position: absolute;
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
}

.tag__day {
  font-size: 39px;
  font-family: "sfd-heavy";
  color: #cc2229;
  text-align: center;
  line-height: 1;
  margin-bottom: 5px;
}

@media (max-width: 1600px) {
  .tag__day {
    font-size: 25px;
  }
}

.tag__month {
  font-size: 15px;
  color: #cc2229;
  text-align: center;
}

.bg-fa {
  background-color: #fafafa;
}

.aut-page {
  height: 100vh;
}

.sec-body-enveloped {
  padding: 0 90px;
}

.news-page .main-content > .sec-body {
  margin-bottom: 100px;
}

.document-page .main-content .sec-body {
  background-color: #fafafa;
  padding: 50px 0 100px 0;
}

.support-content {
  background-color: #fafafa;
}

.info-time {
  padding: 15px 30px;
  text-align: center;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  display: inline-block;
}

.info-time .day {
  font-size: 55px;
  font-family: "sfd-heavy";
  line-height: 1;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

.info-time .month {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.info-time .year {
  letter-spacing: 5px;
}

.title-common {
  font-size: 35px;
  font-family: "sfd-heavy";
  color: #535353;
  margin-bottom: 25px;
}

#header {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 9;
  text-align: center;
}

#header {
  top: 0px;
}

.header-pc {
  -webkit-box-shadow: 0 2px 5px #ccc;
          box-shadow: 0 2px 5px #ccc;
}

.header-pc .header-pc-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 75px;
}

.header-pc .header-pc-content__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-pc .header-pc-content__left .hd-logo {
  margin-right: 25px;
}

.header-pc .header-pc-content__left .hd-logo .image {
  width: 200px;
}

.header-pc .header-pc-content__left .hd-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-pc .header-pc-content__left .hd-menu .menu-level-1 .menu-title {
  display: inline-block;
  padding: 30px 25px;
  color: #444;
  font-size: 16px;
  font-weight: 500;
  font-family: "roboto-regular";
  position: relative;
}

.header-pc .header-pc-content__left .hd-menu .menu-level-1 .menu-title::before {
  position: absolute;
  content: '';
  bottom: 3px;
  left: 0;
  width: 0%;
  height: 3px;
  border-radius: 3px 3px 0 0;
  background-color: transparent;
}

.header-pc .header-pc-content__left .hd-menu .menu-level-1 .menu-title:hover {
  color: #cc2229;
}

.header-pc .header-pc-content__left .hd-menu .menu-level-1 .menu-title:hover::before {
  background-color: #cc2229;
  width: 100%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.header-pc .header-pc-content__right .info-user .image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header-pc .header-pc-content__right .info-user .image img {
  border-radius: 50%;
}

.footer {
  padding: 0 75px;
  background-image: url(img/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .section-content {
  margin-top: -150px;
}

@media (max-width: 1600px) {
  .footer .section-content {
    margin-top: 0px;
  }
}

.footer .section-content .contact-upper {
  margin-bottom: 50px;
}

.footer .section-content .contact-upper .sec-header {
  height: 150px;
}

.footer .section-content .contact-upper .sec-header .heading {
  color: #fff;
}

.footer .section-content .contact-upper .sec-header .sub-heading {
  color: #66666682;
}

.footer .section-content .contact-upper .text {
  max-width: 45%;
  color: #fff;
  margin-top: -25px;
}

@media (max-width: 1600px) {
  .footer .section-content .contact-upper .text {
    max-width: 65%;
  }
}

.footer .section-content .contact-upper iframe {
  width: 100%;
  height: 200px;
}

.footer .section-content .contact-lower .branch__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 30px;
}

.footer .section-content .contact-lower .branch__list-contact {
  color: #fff;
}

.footer .section-content .contact-lower .branch__list-contact .contact {
  margin-bottom: 10px;
  position: relative;
}

.footer .section-content .contact-lower .branch__list-contact .contact svg {
  position: absolute;
  top: 2.5px;
  left: 0;
}

.footer .section-content .contact-lower .branch__list-contact .contact span {
  padding-left: 30px;
  display: block;
}

.inner-page .footer .contact-lower {
  padding-bottom: 175px;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon/icomoon.eot?cqvfhu");
  src: url("fonts/icomoon/icomoon.eot?cqvfhu#iefix") format("embedded-opentype"), url("fonts/icomoon/icomoon.ttf?cqvfhu") format("truetype"), url("fonts/icomoon/icomoon.woff?cqvfhu") format("woff"), url("fonts/icomoon/icomoon.svg?cqvfhu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_forward:before {
  content: "\e900";
}

.icon-check:before {
  content: "\e901";
}

.icon-expand_less:before {
  content: "\e902";
}

.icon-expand_more:before {
  content: "\e903";
}

.icon-arrow_upward:before {
  content: "\e904";
}

.icon-arrow_downward:before {
  content: "\e905";
}

.icon-arrow_back_ios:before {
  content: "\e906";
}

.icon-arrow_forward_ios:before {
  content: "\e907";
}

.icon-arrow-up-left2:before {
  content: "\ea39";
}

.icon-arrow-up2:before {
  content: "\ea3a";
}

.icon-arrow-up-right2:before {
  content: "\ea3b";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-arrow-down-right2:before {
  content: "\ea3d";
}

.icon-arrow-down2:before {
  content: "\ea3e";
}

html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fp-slide {
  float: left;
}

.fp-slide,
.fp-slidesContainer {
  height: 100%;
  display: block;
}

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.fp-section.fp-table,
.fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.fp-slidesContainer {
  float: left;
  position: relative;
}

.fp-controlArrow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}

.fp-scrollable {
  overflow: hidden;
  position: relative;
}

.fp-scroller {
  overflow: hidden;
}

.iScrollIndicator {
  border: 0 !important;
}

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
}

#fp-nav.fp-right {
  right: 15px;
}

#fp-nav.fp-left {
  left: 15px;
}

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important;
}

.fp-slidesNav.fp-bottom {
  bottom: 17px;
}

.fp-slidesNav.fp-top {
  top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 20px;
  height: 20px;
  margin: 20px;
  position: relative;
}

.fp-slidesNav ul li {
  display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 20px;
  width: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 100%;
  background: #555;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 12.5px;
  width: 12.5px;
  border: 0;
  background: #fff;
  border: 1px solid #555;
  left: 50%;
  top: 50%;
  margin: -6px 0 0 -6px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 15px;
  height: 15px;
  margin: -7px 0px 0px -7px;
  background: #999;
}

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}

#fp-nav ul li .fp-tooltip.fp-right {
  right: 20px;
}

#fp-nav ul li .fp-tooltip.fp-left {
  left: 20px;
}

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important;
}

.fp-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sec-header.sec-header-common {
  position: relative;
  height: 135px;
}

.sec-header.sec-header-common .heading {
  font-size: 55px;
  font-family: "sfd-heavy";
  color: #535353;
  z-index: 2;
  margin-bottom: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

@media (max-width: 1600px) {
  .sec-header.sec-header-common .heading {
    font-size: 40px;
  }
}

.sec-header.sec-header-common .sub-heading {
  display: inline-block;
  font-size: 80px;
  font-family: "svn-bell";
  font-weight: 600;
  color: #ececec;
  position: absolute;
  top: -20px;
  left: 40px;
  z-index: 1;
}

@media (max-width: 1600px) {
  .sec-header.sec-header-common .sub-heading {
    font-size: 85px;
  }
}

@media (max-width: 1600px) {
  .sec-header.sec-header-common {
    height: 115px;
  }
}

.sec-header.sec-header-common-2 .heading {
  margin-bottom: 0;
}

.sec-head-enveloped {
  padding: 50px 90px 0px 90px;
  border-bottom: 1px solid #eee;
}

.sec-head-enveloped .intro {
  margin-top: 25px;
}

.item-common .info {
  background-color: #fff;
  padding: 25px 25px;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
}

.item-common .info .title {
  font-size: 24px;
  font-family: "sfd-semibold";
  margin-bottom: 15px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 1600px) {
  .item-common .info .title {
    font-size: 18px;
  }
}

.item-common .info .sub-title {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 1600px) {
  .item-common .info .sub-title {
    font-size: 16px;
  }
}

.item-common.item-common-1 {
  border-radius: 5px;
}

.item-common.item-common-1 .info .box-button .btn {
  display: block;
  font-size: 20px;
  font-family: "sfd-semibold";
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background-color: #cc2229;
}

.item-common.item-common-1 .info .box-button .btn.btn-red-text {
  color: #cc2229;
  background-color: #fff;
  padding: 0;
  text-align: left;
  text-transform: unset;
}

.item-common.item-common-1 .info .box-button .btn.btn-red-text svg {
  margin-left: 10px;
  color: #cc2229;
  opacity: 0;
}

.item-common.item-common-1 .info .box-button .btn:hover {
  background-color: #fd222b;
}

.item-common.item-common-1 .info .box-button .btn:hover.btn-red-text {
  background-color: transparent;
}

.item-common.item-common-1 .info .box-button .btn:hover.btn-red-text svg {
  opacity: 1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media (max-width: 1600px) {
  .item-common.item-common-1 .info .box-button .btn {
    font-size: 16px;
  }
}

.item-common.item-common-2 .thumb {
  position: relative;
}

.item-common.item-common-2 .thumb .tag {
  left: 20px;
  bottom: -20px;
}

.item-common.item-common-2 .info .sub-title {
  margin-bottom: 0;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

.com-pagination .pagination {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.com-pagination .pagination .page-item {
  padding-left: 20px;
  margin: 0;
}

.com-pagination .pagination .page-item .page-link {
  padding: 8px 12px !important;
  color: #333;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 38px;
}

.com-pagination .pagination .page-item:first-child .page-link {
  color: #fff;
  background-color: #cc2229;
  border-color: #cc2229;
}

.home-banner {
  position: relative;
}

.home-banner .overlay {
  position: absolute;
  content: '';
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home-banner .overlay .title .text {
  color: #fff;
  font-family: "svn-bell";
  font-size: 300px;
  margin-bottom: -25px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  100% {
    border: none;
  }
}

.home-banner .overlay .title .sub-title p {
  color: #fff;
  font-family: "sfd-heavy";
  font-size: 70px;
  text-align: right;
  line-height: 1;
  -webkit-animation: 2s slide-right;
  animation: 2s slide-right;
}

@-webkit-keyframes slide-right {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slide-right {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes new {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0.95);
            transform: scaleX(0.95);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes new {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0.95);
            transform: scaleX(0.95);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.home-course {
  background-image: url("img/home-page/home-course-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 75px;
}

.home-course .sec-header {
  margin-top: 50px;
}

.home-course .sec-body {
  margin-bottom: 30px;
}

.home-course .sec-footer {
  text-align: center;
}

.home-document {
  padding: 0 75px;
}

.home-news {
  padding: 0 75px;
  background-image: url("img/home-page/home-news-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-news .sec-body {
  margin-bottom: 30px;
}

.home-news .sec-footer {
  text-align: center;
}

.home-teacher {
  padding: 0 75px;
  background-image: url(img/home-page/home-teacher-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-teacher .section-content {
  margin-top: 90px;
}

.home-teacher .content-left {
  padding-right: 100px;
}

.home-teacher .content-left .sec-header .heading {
  color: #fff;
}

.home-teacher .content-left .sec-header .sub-heading {
  color: #cccccc38;
}

.home-teacher .content-left .sec-body p {
  font-family: "sfd-regular";
  line-height: 1.5;
  color: #fff;
  margin-bottom: 20px;
  text-align: justify;
  font-size: 18px;
}

.home-teacher .content-right {
  padding-right: 75px;
}

.home-teacher .content-right .item .item-teacher {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
}

.home-teacher .content-right .item .item-teacher__thumb .image img {
  border-radius: 5px 5px 0 0;
}

.home-teacher .content-right .item .item-teacher__info {
  padding: 25px 30px 50px 30px;
}

.home-teacher .content-right .item .item-teacher__info__title {
  font-size: 24px;
  font-family: "sfd-semibold";
}

@media (max-width: 1600px) {
  .home-teacher .content-right .item .item-teacher__info__title {
    font-size: 20px;
  }
}

.home-teacher .content-right .item .item-teacher__info__subtitle {
  font-size: 20px;
}

@media (max-width: 1600px) {
  .home-teacher .content-right .item .item-teacher__info__subtitle {
    font-size: 16px;
  }
}

@media (max-width: 1600px) {
  .home-teacher .content-right .item .item-teacher__info {
    padding: 20px 25px 35px 25px;
  }
}

.home-teacher .content-right .owl-carousel {
  position: relative;
}

.home-teacher .content-right .owl-carousel .owl-nav {
  display: block !important;
}

.home-teacher .content-right .owl-carousel .owl-nav button {
  position: absolute;
  top: 46.46%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home-teacher .content-right .owl-carousel .owl-nav button.owl-prev {
  left: -70px;
}

.home-teacher .content-right .owl-carousel .owl-nav button.owl-next {
  right: -70px;
}

.home-teacher .content-right .owl-carousel .owl-nav button span {
  font-size: 70px;
  color: #fff;
}

.home-teacher .content-right .owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
}

.news-common {
  padding-bottom: 25px;
}

.news-common__title {
  font-size: 35px;
  font-family: "sfd-heavy";
  margin-bottom: 35px;
  color: #535353;
}

@media (max-width: 1600px) {
  .news-common__title {
    font-size: 25px;
  }
}

.news-common__content .row > div {
  margin-bottom: 30px;
}

.news-common.news-first {
  border-bottom: 1px solid #eee;
  margin-bottom: 50px;
}

.news-detail-child {
  padding: 20px 130px 50px;
}

.news-detail-child__title {
  position: relative;
  margin-bottom: 25px;
}

.news-detail-child__title .tag {
  top: -15px;
  left: -130px;
}

.news-detail-child__title .title {
  font-size: 34px;
  font-family: "sfd-heavy";
  margin-bottom: 10px;
  color: #535353;
  line-height: 1.25;
}

.news-detail-child__title .sub-title {
  color: #666;
}

.news-detail-child__content p {
  font-family: "sfd-regular";
  margin-bottom: 20px;
  line-height: 2;
  color: #333;
  text-align: justify;
}

.news-detail-child__content img {
  margin-bottom: 20px;
  display: block;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 100%;
}

.aut-common .aut-common-left {
  background-image: url("img/inner-page/aut-page-bg.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aut-common .aut-common-left > .row {
  height: 100%;
}

.aut-common .aut-common-left > .row .aut-common-left-content .logo .image {
  height: 65px;
}

.aut-common .aut-common-left > .row .aut-common-left-content .sec-header {
  margin: 30px 0;
}

.aut-common .aut-common-left > .row .aut-common-left-content .sec-header .heading,
.aut-common .aut-common-left > .row .aut-common-left-content .sec-header .sub-heading {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

.aut-common .aut-common-left > .row .aut-common-left-content .form-aut .form-group label {
  color: #666;
  font-size: 14px;
}

.aut-common .aut-common-left > .row .aut-common-left-content .form-aut .box-tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.aut-common .aut-common-left > .row .aut-common-left-content .form-aut .box-tool .text {
  font-size: 14px;
}

.aut-common .aut-common-left > .row .aut-common-left-content .form-aut .box-tool .text.text-left {
  color: #666;
}

.aut-common .aut-common-left > .row .aut-common-left-content .form-aut .box-tool .text.text-right {
  color: #cc2229;
}

.aut-common .aut-common-left > .row .aut-common-left-content .form-aut .box-button .btn {
  display: block;
  width: 100%;
}

.aut-common .aut-common-right {
  position: relative;
}

.aut-common .aut-common-right .thumb .image {
  height: 100vh;
}

.aut-common .aut-common-right .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #0005;
}

.aut-common .aut-common-right .info {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.aut-common .aut-common-right .info .info-content {
  position: relative;
}

.aut-common .aut-common-right .info .info-content .item-1 {
  position: absolute;
  top: -10px;
  right: calc(100% + 10px);
}

.aut-common .aut-common-right .info .info-content .item-quote {
  color: #fff;
  font-family: "tabular";
  font-size: 14px;
  text-align: justify;
}

.aut-common .aut-common-right .info .info-content .item-2 {
  position: absolute;
  bottom: -10px;
  left: calc(100% + 10px);
}

label,
input {
  cursor: pointer;
}

.tab-section-wrapper {
  padding: 30px 0;
}

/* ******************* Checkbox */
.checkbox-wrapper label {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-wrapper input.checkbox {
  display: none;
}

.checkbox-wrapper .check-icon {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  top: 2px;
  border: solid 1px #8b8b8b;
  background-color: transparent;
  border-radius: 3px;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.checkbox-wrapper .check-icon:before {
  content: "\f00c";
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "fas";
  font-weight: 900;
  font-size: 12px;
  color: #fff;
  text-align: center;
  top: 1px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  opacity: 0;
}

.checkbox-wrapper input.checkbox:checked + .check-icon {
  border-color: #cc2229;
  background: #cc2229;
}

.checkbox-wrapper input.checkbox:checked + .check-icon:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

/* ******************* End Checkbox */
.aside-document {
  padding-top: 68px;
}

.aside-document .aside-document-common {
  margin-bottom: 35px;
}

.aside-document .aside-document-common .aside-title .title {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "sfd-semibold";
  margin-bottom: 15px;
}

.aside-document .aside-document-common .aside-content .checkbox-content {
  color: #888;
}

.aside-document .aside-document-common .aside-content .checkbox-content.checked {
  color: #cc2229;
}

.btn-reset {
  padding: 0;
  color: #cc2229;
}

.btn-reset:hover {
  color: red;
}

.document-catalog-content .list-document .row > div {
  margin-bottom: 30px;
}

.document-detail-banner-top {
  background-image: url("img/inner-page/document-detail-bg.png");
  height: 490px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #ccc;
}

.document-detail-banner-top .banner-top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 490px;
}

.document-detail-banner-top .banner-top-content .info .desc {
  width: 70%;
  font-size: 18px;
  margin-bottom: 30px;
  color: #333;
}

.document-detail-banner-top .banner-top-content .info .box-button .btn {
  padding: 6px 60px;
  text-transform: uppercase;
}

.document-detail-content {
  padding: 100px 0;
}

.document-detail-content .document-detail-content-child .title {
  font-family: "sfd-heavy";
  font-size: 35px;
  margin-bottom: 25px;
  color: #535353;
}

.document-detail-content .document-detail-content-child .desc {
  margin-bottom: 50px;
  text-align: justify;
}

.document-detail-content .document-detail-content-child .content-document-detail p {
  border: 1px solid #ccc;
  background-color: #fafafa;
  min-height: 500px;
  margin: 0 100px;
}

.document-detail-related {
  padding: 100px 0;
}

.document-detail-related .document-detail-related-content .com-related .sec-header {
  font-family: "sfd-heavy";
  font-size: 35px;
  margin-bottom: 25px;
  color: #535353;
}

.document-detail-related .document-detail-related-content .com-related:not(:last-child) {
  margin-bottom: 50px;
}

.aside-support {
  padding: 100px 52.5px 00px 90px;
}

.aside-support .nav .nav-link {
  padding: 10px 0;
}

.aside-support .nav .nav-link.active {
  background-color: transparent;
  color: #cc2229;
}

.support-content-child {
  padding: 100px 52.5px;
  background-color: #fff;
}

.support-content-child .com-support .tab-content .tab-pane .tab-title {
  font-size: 35px;
  font-family: "sfd-heavy";
  color: #535353;
  margin-bottom: 25px;
}

.support-content-child .com-support .tab-content .tab-pane .tab-body p {
  font-family: "sfd-regular";
  margin-bottom: 20px;
  color: #333;
  line-height: 1.5;
  text-align: justify;
}

.support-content-child .com-support .tab-content .tab-pane .tab-body img {
  display: block;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 100%;
  margin-bottom: 20px;
}

.support-content-child .com-support .tab-content .tab-pane .tab-help .form-help label {
  display: block;
  color: #666;
}

.support-content-child .com-support .tab-content .tab-pane .tab-help .form-help input,
.support-content-child .com-support .tab-content .tab-pane .tab-help .form-help textarea {
  background-color: #fafafa;
}

.support-content-child .com-support .tab-content .tab-pane .tab-help .form-help textarea {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.support-content-child .com-support .tab-content .tab-pane .tab-help .form-help .box-button .btn {
  padding: 6px 60px;
}

.aside-teacher {
  padding-top: 65px;
  text-align: center;
}

.aside-teacher .thumb {
  margin-bottom: 25px;
}

.aside-teacher .thumb .image {
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 1px 1px 5px 2px #ccc;
          box-shadow: 1px 1px 5px 2px #ccc;
  border-radius: 50%;
  margin: 0 auto;
}

.aside-teacher .thumb .image img {
  border-radius: 50%;
}

.aside-teacher .info {
  font-size: 24px;
  font-weight: 500;
}

.teacher-content {
  padding-top: 65px;
}

.teacher-content .nav .nav-item {
  margin: 0 25px 0 0;
}

.teacher-content .nav .nav-item .nav-link {
  border: none;
  color: #333;
  padding: 8px 25px 8px 0;
  font-size: 18px;
  font-weight: 500;
}

.teacher-content .nav .nav-item .nav-link.active {
  position: relative;
}

.teacher-content .nav .nav-item .nav-link.active:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #cc2229;
}

.teacher-content .tab-content {
  padding: 30px 0 100px 0;
}

.teacher-content .tab-content .tab-pane.tab-info {
  width: 66.7%;
}

.teacher-content .tab-content .tab-pane .tab-title {
  font-size: 35px;
  font-family: "sfd-heavy";
  color: #535353;
  margin-bottom: 20px;
}

.teacher-content .tab-content .tab-pane p {
  font-family: "sfd-regular";
  color: #333;
  line-height: 2;
  margin-bottom: 15px;
  text-align: justify;
}

.teacher-content .tab-content .tab-pane .image {
  margin-bottom: 20px;
}

.teacher-content .tab-content .tab-pane .list-contact li .contact-child {
  color: #0054D2;
}

.sec-head-event-catalog {
  background-image: url("img/inner-page/event-catalog.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #ccc;
}

.sec-head-event-catalog .sec-head-event {
  position: relative;
  width: 50%;
}

.sec-head-event-catalog .sec-head-event .info {
  position: absolute;
  top: 50px;
  left: 0;
}

.sec-head-event-catalog .sec-head-event .info .sec-header {
  height: 175px;
}

.sec-head-event-catalog .sec-head-event .info .desc {
  margin-bottom: 20px;
  color: #333;
}

.sec-head-event-catalog .sec-head-event .info .box-button .btn {
  padding: 6px 60px;
  font-size: 20px;
  font-family: "sfd-semibold";
}

.sec-head-event-catalog .sec-head-event .info-time {
  position: absolute;
  top: 50px;
  right: calc(100% + 30px);
}

.sec-body-event-catalog {
  padding: 100px 0;
}

.sec-body-event-catalog .content-child {
  margin-bottom: 35px;
}

.sec-body-event-catalog .content-child p {
  font-family: "sfd-regular";
  line-height: 2;
  text-align: justify;
  margin-bottom: 20px;
  color: #555;
}

.sec-body-event-catalog .info-location {
  padding: 25px 15px 15px 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
}

.sec-body-event-catalog .info-location .list-item {
  margin-bottom: 20px;
}

.sec-body-event-catalog .info-location .list-item .item-child {
  color: #666;
}

.sec-body-event-catalog .info-location .list-item .item-child svg {
  width: 16px;
  margin-right: 15px;
}

.sec-body-event-catalog .info-location .list-item .item-child:not(:last-child) {
  margin-bottom: 10px;
}

.sec-body-event-catalog .info-location .box-map iframe {
  width: 100%;
  height: 320px;
}

.sec-head-event-detail {
  background-image: url("img/inner-page/event-detail-bg.jpg");
  height: calc(100vh - 84px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sec-head-event-detail__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000007d;
  z-index: 1;
}

.sec-head-event-detail__info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
}

.sec-head-event-detail__info .box-countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.sec-head-event-detail__info .box-countdown li {
  text-align: center;
  margin: 0 15px;
  width: 100px;
  border-radius: 5px;
}

.sec-head-event-detail__info .box-countdown li .number {
  font-size: 45px;
  font-family: "sfd-heavy";
  padding: 15px;
  background-color: #000000b5;
  border-radius: 5px 5px 0 0;
  line-height: 1;
}

.sec-head-event-detail__info .box-countdown li .text {
  background-color: #cc2229;
  padding: 5px;
  border-radius: 0 0 5px 5px;
}

.sec-head-event-detail__info .heading {
  font-size: 65px;
  font-family: "sfd-heavy";
  line-height: 1;
  margin-bottom: 35px;
}

.sec-head-event-detail__info .sub-heading {
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 35px;
}

.sec-head-event-detail__info .box-button .btn {
  font-size: 24px;
  padding: 10px 60px;
  text-transform: uppercase;
  font-family: "sfd-semibold";
}

.sec-body-event-detail {
  padding: 100px 0;
}

.sec-body-event-detail .sec-header {
  height: 110px;
}

.sec-body-event-detail .sec-header .heading,
.sec-body-event-detail .sec-header .sub-heading {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

.sec-body-event-detail .desc {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  color: #333;
  margin-bottom: 50px;
}

.sec-body-event-detail .box-filter {
  margin-bottom: 50px;
}

.sec-body-event-detail .box-filter .form-inline {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-body-event-detail .box-filter .form-inline .filter-child label {
  display: inline-block;
  color: #666;
  margin: 0 10px 0 0;
}

.sec-body-event-detail .box-filter .form-inline .filter-child select {
  display: inline-block;
  font-weight: 600;
  margin: 0;
  min-width: 225px;
}

.sec-body-event-detail .list-event {
  margin-bottom: 50px;
}

.sec-body-event-detail .list-event .event-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
  border-top: 1px solid #ccc;
}

.sec-body-event-detail .list-event .event-item .item-left .item-left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 155px;
}

.sec-body-event-detail .list-event .event-item .item-left .item-left-content .info-time {
  position: absolute;
  top: 0;
  left: 0;
}

.sec-body-event-detail .list-event .event-item .item-left .item-left-content .thumb {
  display: inline-block;
}

.sec-body-event-detail .list-event .event-item .item-left .item-left-content .thumb .image {
  width: 300px;
  display: inline-block;
}

.sec-body-event-detail .list-event .event-item .item-left .item-left-content .thumb .image img {
  width: 100%;
  height: auto;
}

.sec-body-event-detail .list-event .event-item .item-left .item-left-content .info {
  display: inline-block;
  width: calc(100% - 250px);
  margin-left: 30px;
}

.sec-body-event-detail .list-event .event-item .item-left .item-left-content .info .title {
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
}

.sec-body-event-detail .list-event .event-item .item-left .item-left-content .info .title a {
  color: #333;
  font-size: 45px;
  font-family: "sfd-heavy";
  line-height: 1;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sec-body-event-detail .list-event .event-item .item-left .item-left-content .info .title:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 50px;
  height: 5px;
  background-color: #cc2229;
}

.sec-body-event-detail .list-event .event-item .item-left .item-left-content .info .location {
  color: #666;
}

.sec-body-event-detail .list-event .event-item .item-left .item-left-content .info .location svg {
  margin-right: 10px;
}

.sec-body-event-detail .list-event .event-item .item-right .btn {
  min-width: 120px;
}
/*# sourceMappingURL=style.css.map */