@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

label,
input {
    cursor: pointer;
}

.tab-section-wrapper {
    padding: 30px 0;
}

/* ******************* Checkbox */
.checkbox-wrapper label {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    align-items: center;
}

.checkbox-wrapper input.checkbox {
    display: none;
}

.checkbox-wrapper .check-icon {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    top: 2px;
    border: solid 1px #8b8b8b;
    background-color: transparent;
    border-radius: 3px;
    transition: .2s all ease-in-out;
}

.checkbox-wrapper .check-icon:before {
    content: "\f00c";
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "fas";
    font-weight: 900;
    font-size: 12px;
    color: #fff;
    text-align: center;
    top: 1px;
    transform: scale(1.5);
    transition: .2s all ease-in-out;
    opacity: 0;
}

.checkbox-wrapper input.checkbox:checked+.check-icon {
    border-color: $color-hover;
    background: $color-hover;
}

.checkbox-wrapper input.checkbox:checked+.check-icon:before {
    transform: scale(1);
    opacity: 1;
}

/* ******************* End Checkbox */
.aside-document {
    padding-top: 68px;

    .aside-document-common {
        margin-bottom: 35px;

        .aside-title {
            .title {
                font-size: 20px;
                text-transform: uppercase;
                font-family: $font-semibold;
                margin-bottom: 15px;
            }
        }

        .aside-content {
            .checkbox-content {
                color: #888;

                &.checked {
                    color: $color-hover;
                }
            }
        }
    }
}

.btn-reset {
    padding: 0;
    color: $color-hover;

    &:hover {
        color: red;
    }
}