.document-detail-content {
    padding: 100px 0;

    .document-detail-content-child {
        .title {
            font-family: $font-heavy;
            font-size: 35px;
            margin-bottom: 25px;
            color: #535353;
        }

        .desc {
            margin-bottom: 50px;
            text-align: justify;
        }

        .content-document-detail {
            p {
                border: 1px solid #ccc;
                background-color: #fafafa;
                min-height: 500px;
                margin: 0 100px;
            }
        }
    }
}