.document-detail-banner-top {
    background-image: url("img/inner-page/document-detail-bg.png");
    height: 490px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #ccc;

    .banner-top-content {
        display: flex;
        align-items: center;
        height: 490px;

        .info {
            .sec-header {}

            .desc {
                width: 70%;
                font-size: 18px;
                margin-bottom: 30px;
                color: #333;
            }

            .box-button {
                .btn {
                    padding: 6px 60px;
                    text-transform: uppercase;
                }
            }
        }
    }
}