.document-detail-related {
    padding: 100px 0;

    .document-detail-related-content {
        .com-related {

            .sec-header {
                font-family: $font-heavy;
                font-size: 35px;
                margin-bottom: 25px;
                color: #535353;
            }

            .sec-body {}

            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
    }
}