.aside-support {
    padding: 100px 52.5px 00px 90px;

    .nav {
        .nav-link {
            padding: 10px 0;

            &.active {
                background-color: transparent;
                color: $color-hover;
            }
        }
    }
}