.support-content-child {
    padding: 100px 52.5px;
    background-color: #fff;

    .com-support {
        .tab-content {
            .tab-pane {
                .tab-title {
                    font-size: 35px;
                    font-family: $font-heavy;
                    color: #535353;
                    margin-bottom: 25px;
                }

                .tab-body {
                    p {
                        font-family: $font-regular;
                        margin-bottom: 20px;
                        color: #333;
                        line-height: 1.5;
                        text-align: justify;
                    }

                    img {
                        display: block;
                        object-fit: scale-down;
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }

                .tab-help {
                    .form-help {
                        label {
                            display: block;
                            color: #666;
                        }

                        input,
                        textarea {
                            background-color: #fafafa;
                        }

                        textarea {
                            width: 100%;
                            border: 1px solid #ced4da;
                            border-radius: .25rem;
                        }

                        .box-button {
                            .btn {
                                padding: 6px 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}