.aside-teacher {
    padding-top: 65px;
    text-align: center;

    .thumb {
        margin-bottom: 25px;

        .image {
            width: 300px;
            height: 300px;
            box-shadow: 1px 1px 5px 2px #ccc;
            border-radius: 50%;
            margin: 0 auto;

            img {
                border-radius: 50%;

            }
        }
    }

    .info {
        // font-family: $font-semibold;
        font-size: 24px;
        font-weight: 500;
    }
}