.teacher-content {
    padding-top: 65px;

    .nav {
        .nav-item {
            margin: 0 25px 0 0;

            .nav-link {
                border: none;
                color: #333;
                padding: 8px 25px 8px 0;
                font-size: 18px;
                font-weight: 500;

                &.active {
                    position: relative;

                    &:before {
                        position: absolute;
                        content: '';
                        bottom: 0;
                        left: 0;
                        height: 2px;
                        width: 100%;
                        background-color: $color-hover;
                    }
                }
            }
        }
    }

    .tab-content {
        padding: 30px 0 100px 0;

        .tab-pane {
            &.tab-info {
                width: 66.7%;
            }

            .tab-title {
                font-size: 35px;
                font-family: $font-heavy;
                color: #535353;
                margin-bottom: 20px;
            }

            p {
                font-family: $font-regular;
                color: #333;
                line-height: 2;
                margin-bottom: 15px;
                text-align: justify;
            }

            .image {
                margin-bottom: 20px;
            }

            .list-contact {
                li {
                    .contact-child {
                        color: #0054D2;
                    }
                }
            }
        }
    }
}