.aut-common {
    .aut-common-left {
        background-image: url("img/inner-page/aut-page-bg.png");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        >.row {
            height: 100%;

            .aut-common-left-content {
                .logo {
                    .image {
                        height: 65px;
                    }
                }

                .sec-header {
                    margin: 30px 0;

                    .heading,
                    .sub-heading {
                        left: 50%;
                        transform: translateX(-50%);
                        margin-bottom: 0;
                        width: 100%;
                        text-align: center;
                    }
                }

                .form-aut {
                    .form-group {
                        label {
                            color: #666;
                            font-size: 14px;
                        }
                    }

                    .box-tool {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 20px;

                        .text {
                            font-size: 14px;

                            &.text-left {
                                color: #666;
                            }

                            &.text-right {
                                color: $color-hover;
                            }
                        }
                    }

                    .box-button {
                        .btn {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .aut-common-right {
        position: relative;

        .thumb {
            .image {
                height: 100vh;
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: #0005;
        }

        .info {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            width: 45%;
            transform: translateX(-50%);

            .info-content {
                position: relative;

                .item-1 {
                    position: absolute;
                    top: -10px;
                    right: calc(100% + 10px);
                }

                .item-quote {
                    color: #fff;
                    font-family: $font-tabular;
                    font-size: 14px;
                    text-align: justify;
                }

                .item-2 {
                    position: absolute;
                    bottom: -10px;
                    left: calc(100% + 10px)
                }
            }
        }
    }
}