* {
    &:hover {
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -ms-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
    }
}

.active-pc {
    display: block;

    @include respond (max-414) {
        display: none;
    }
}

.active-mb {
    display: none;

    @include respond (max-414) {
        display: block;
    }
}

.dp-block {
    display: block;
}

.db-none {
    display: none;
}

.row.row-mg-0 {
    margin-left: 0px;
    margin-right: 0px;

    .col-pd-0 {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.row.row-mg-75 {
    margin-left: -7.5px;
    margin-right: -7.5px;

    .col-pd-75 {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
}

.row.row-mg-10 {
    margin-left: -10px;
    margin-right: -10px;

    .col-pd-10 {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.pl0 {
    padding-left: 0;
}

.pr0 {
    padding-right: 0;
}

.mb0 {
    margin-bottom: 0px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb100 {
    margin-bottom: 100px;
}

.pt50 {
    padding-top: 50px;
}

.text-red {
    color: $color-hover;
}

.text-bold {
    // font-family: $font-bold;
    font-weight: 600;
}

#to_top {
    display: none;
    border: medium none;
    bottom: 20px;
    cursor: pointer;
    text-align: center;
    height: 30px;
    line-height: 32px;
    outline: medium none;
    padding: 0;
    position: fixed;
    right: 20px;
    width: 30px;
    z-index: 89;
    background: $color-hover;

    span {
        color: #fff;
    }
}

// _____________________________________________
.inner-page {
    padding-top: 84px;

    .footer {
        // min-height: 100vh;
        padding-top: 75px;

        .section-content {
            margin-top: 0px;
        }
    }
}

.section {
    padding-top: 84px;
}

.box-readmore {
    display: inline-block;

    .btn {
        text-transform: uppercase;
        font-size: 24px;
        font-family: $font-semibold;
        color: #535353;
        position: relative;

        svg {
            position: absolute;
            top: 11px;
            left: 100%;
            color: $color-hover;
            opacity: 0;
        }

        &:hover {
            color: $color-hover;

            svg {
                opacity: 1;
                transition: 0.25s;
            }
        }

        @include respond (max-1600) {
            font-size: 20px;
        }
    }
}

.box-search {
    margin-bottom: 30px;

    .form-group {
        margin-bottom: 0;
        position: relative;

        .icon {
            position: absolute;
            top: 0;
            left: 15px;
            height: 100%;
            width: 38px;
            background-color: $color-hover;
            border-radius: 0.25rem 0 0 0.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            svg {
                color: #fff;
            }
        }

        .form-control {
            padding: 6px 12px 6px 50px;
        }
    }
}

.box-button {
    .btn {
        &.btn-hover {
            display: inline-block;
            background-color: $color-hover;
            color: #fff;
            font-weight: 500;

            &:hover {
                background-color: #ff645f;
            }
        }
    }
}

.tag {
    position: absolute;
    // left: 20px;
    // bottom: -20px;
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;

    &__day {
        font-size: 39px;
        font-family: $font-heavy;
        color: $color-hover;
        text-align: center;
        line-height: 1;
        margin-bottom: 5px;

        @include respond (max-1600) {
            font-size: 25px;
        }
    }

    &__month {
        font-size: 15px;
        color: $color-hover;
        text-align: center;
    }
}

.bg-fa {
    background-color: #fafafa;
}

.aut-page {
    height: 100vh;
}

.sec-body-enveloped {
    padding: 0 90px;
}

.news-page {
    .main-content {
        >.sec-body {
            margin-bottom: 100px;
        }
    }
}

.document-page {
    .main-content {
        .sec-body {
            background-color: #fafafa;
            padding: 50px 0 100px 0;
        }
    }
}

.support-content {
    background-color: #fafafa;
}

.info-time {
    padding: 15px 30px;
    text-align: center;
    box-shadow: 0 0 10px #ccc;
    display: inline-block;

    .day {
        font-size: 55px;
        font-family: $font-heavy;
        line-height: 1;
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
    }

    .month {
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .year {
        letter-spacing: 5px;
    }
}

.title-common {
    font-size: 35px;
    font-family: $font-heavy;
    color: #535353;
    margin-bottom: 25px;
}