.footer {
    padding: 0 75px;
    background-image: url(img/footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .section-content {
        margin-top: -150px;

        @include respond (max-1600) {
            margin-top: 0px;
        }

        .contact-upper {
            margin-bottom: 50px;

            .sec-header {
                height: 150px;

                .heading {
                    color: #fff;
                }

                .sub-heading {
                    color: #66666682;
                }
            }

            .text {
                max-width: 45%;
                color: #fff;
                margin-top: -25px;

                @include respond (max-1600) {
                    max-width: 65%;
                }
            }

            iframe {
                width: 100%;
                height: 200px;
            }
        }

        .contact-lower {
            // padding-bottom: 75px;

            .branch {
                &__title {
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 15px;
                    text-transform: uppercase;
                    color: #fff;
                    padding-left: 30px;
                }

                &__list-contact {
                    color: #fff;

                    .contact {
                        margin-bottom: 10px;
                        position: relative;

                        svg {
                            position: absolute;
                            top: 2.5px;
                            left: 0;
                            // width: 16px;
                            // margin-right: 10px;
                        }

                        span {
                            padding-left: 30px;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.inner-page {
    .footer {
        .contact-lower {
            padding-bottom: 175px;
        }
    }
}