#header {
    position: fixed;
    // height: 50px;
    // display: block;
    width: 100%;
    background: #fff;
    z-index: 9;
    text-align: center;
    // color: #f2f2f2;
    // padding: 20px 0 0 0;
}

#header {
    top: 0px;
}

.header-pc {
    box-shadow: 0 2px 5px #ccc;

    .header-pc-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 75px;

        &__left {
            display: flex;
            align-items: center;

            .hd-logo {
                margin-right: 25px;

                .image {
                    width: 200px;
                }
            }

            .hd-menu {
                display: flex;
                align-items: center;

                .menu-level-1 {
                    .menu-title {
                        display: inline-block;
                        padding: 30px 25px;
                        color: #444;
                        font-size: 16px;
                        font-weight: 500;
                        font-family: $font-roboto-regular;
                        position: relative;

                        &::before {
                            position: absolute;
                            content: '';
                            bottom: 3px;
                            left: 0;
                            width: 0%;
                            height: 3px;
                            border-radius: 3px 3px 0 0;
                            background-color: transparent;
                        }

                        &:hover {
                            color: $color-hover;

                            &::before {
                                background-color: $color-hover;
                                width: 100%;
                                transition: width 0.5s;
                            }
                        }
                    }
                }
            }
        }

        &__right {
            .info-user {
                .image {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;

                    img {
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}