@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon/icomoon.eot?cqvfhu');
    src: url('fonts/icomoon/icomoon.eot?cqvfhu#iefix') format('embedded-opentype'),
        url('fonts/icomoon/icomoon.ttf?cqvfhu') format('truetype'),
        url('fonts/icomoon/icomoon.woff?cqvfhu') format('woff'),
        url('fonts/icomoon/icomoon.svg?cqvfhu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    // speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_forward:before {
    content: "\e900";
}

.icon-check:before {
    content: "\e901";
}

.icon-expand_less:before {
    content: "\e902";
}

.icon-expand_more:before {
    content: "\e903";
}

.icon-arrow_upward:before {
    content: "\e904";
}

.icon-arrow_downward:before {
    content: "\e905";
}

.icon-arrow_back_ios:before {
    content: "\e906";
}

.icon-arrow_forward_ios:before {
    content: "\e907";
}

.icon-arrow-up-left2:before {
    content: "\ea39";
}

.icon-arrow-up2:before {
    content: "\ea3a";
}

.icon-arrow-up-right2:before {
    content: "\ea3b";
}

.icon-arrow-right2:before {
    content: "\ea3c";
}

.icon-arrow-down-right2:before {
    content: "\ea3d";
}

.icon-arrow-down2:before {
    content: "\ea3e";
}