.com-pagination {
    .pagination {
        justify-content: flex-end;

        .page-item {
            padding-left: 20px;
            margin: 0;

            .page-link {
                padding: 8px 12px !important;
                color: #333;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 38px;
                height: 38px;
            }

            &:first-child {
                .page-link {
                    color: #fff;
                    background-color: $color-hover;
                    border-color: $color-hover;
                }
            }
        }
    }
}