.item-common {
    .info {
        background-color: #fff;
        padding: 25px 25px;
        box-shadow: 0 0 5px #ccc;

        .title {
            font-size: 24px;
            font-family: $font-semibold;
            margin-bottom: 15px;
            display: block;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            @include respond (max-1600) {
                font-size: 18px;
            }
        }

        .sub-title {
            display: block;
            font-size: 20px;
            margin-bottom: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            @include respond (max-1600) {
                font-size: 16px;
            }
        }
    }

    &.item-common-1 {
        border-radius: 5px;

        .info {
            .box-button {
                .btn {
                    display: block;
                    font-size: 20px;
                    font-family: $font-semibold;
                    text-transform: uppercase;
                    color: #fff;
                    text-align: center;
                    border-radius: 5px;
                    background-color: $color-hover;

                    &.btn-red-text {
                        color: $color-hover;
                        background-color: #fff;
                        padding: 0;
                        text-align: left;
                        text-transform: unset;

                        svg {
                            margin-left: 10px;
                            color: $color-hover;
                            opacity: 0;
                        }
                    }

                    &:hover {
                        background-color: #fd222b;

                        &.btn-red-text {
                            background-color: transparent;

                            svg {
                                opacity: 1;
                                transition: 0.25s;
                            }
                        }
                    }

                    @include respond (max-1600) {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    &.item-common-2 {

        .thumb {
            position: relative;

            .tag {
                left: 20px;
                bottom: -20px;
            }
        }

        .info {
            .sub-title {
                margin-bottom: 0;
                padding-top: 20px;
                margin-top: 20px;
                border-top: 1px solid #ccc;
            }
        }
    }
}