.sec-header {
    &.sec-header-common {
        position: relative;
        height: 135px;

        .heading {
            font-size: 55px;
            font-family: $font-heavy;
            color: #535353;
            z-index: 2;
            margin-bottom: 100px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;

            @include respond (max-1600) {
                font-size: 40px;
            }
        }

        .sub-heading {
            display: inline-block;
            font-size: 80px;
            font-family: $font-svn-bell;
            font-weight: 600;
            color: #ececec;
            position: absolute;
            top: -20px;
            left: 40px;
            z-index: 1;

            @include respond (max-1600) {
                font-size: 85px;
            }
        }

        @include respond (max-1600) {
            height: 115px;
        }
    }

    &.sec-header-common-2 {
        .heading {
            margin-bottom: 0;
        }
    }
}

.sec-head-enveloped {
    padding: 50px 90px 0px 90px;
    border-bottom: 1px solid #eee;
    // margin-bottom: 50px;

    .intro {
        margin-top: 25px;
    }
}